@tailwind base;
@tailwind components;
@tailwind utilities;

#grow {
    transform: scale(0.9);
  }
  
  #shrink {
    transform: scale(1);
  }

  #grow2 {
    transform: scale(0.9);
  }

  #grow3 {
    transform: scale(0.8);
  }

  #grow4 {
    transform: scale(0.8);
  }

  #grow5 {
    transform: scale(1);
    overflow-y: hidden;
    overflow-y: hidden;
  }

  #grow6 {
    transform: scale(0.8);
  }

  #grow7 {
    transform: scale(0.8);
  }

  #grow8 {
    transform: scale(1);
  }